name: Bats tests

on: push

jobs:
  linux:
    strategy:
      matrix:
        container:
        - 'debian:latest'
        - 'ubuntu:18.04'
        - 'ubuntu:20.04'
        - 'centos:latest'
  test:
    name: Test Docker container
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Run Bats tests
        uses: ffurrer2/bats-action@v1
        with:
          community: docker-cli
          args: ./tests/test_install.bats